body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

/* header banner style */
.container-header{
    
}

.container{
    width:1500px;
    height:600px;
    margin:0 auto;
    margin-bottom: 100px;
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px; 
}

.new-year-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:155px;
}

.new-year-title{
    color:#FFF;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.new-year-celebration{
    max-width: 500px;
    color: #EDDFF6;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    padding-top: 5px;
}

/* section{
    max-width: 700px;
    max-height: 400px;
    margin: 0px auto; 

} */

/* discount part style */
.discount-amount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 80px;
font-weight: 700;
margin: 0;
padding-bottom: 20px;
}

.discount-value{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.discount-catgry{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding-top: 10px;
}

/* greeting part style */
.newyear-greetings{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px ;
    background-image: url("../images/New-Year-Photo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 30px auto;
}

.newyear-party-heading{
    width: 1500px;
    height:300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px; 
}

.container-1{
    width: 1500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px; 
    padding-top: 100px;
}

.new-year-heading-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:155px;
}

/* .new-year-party-title{
color: #FFF;
font-family: Merriweather;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 88px; 
} */

.new-year-party{
    max-width: 500px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-top: 20px;
    padding-left: 70px;
}

.new-year-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    max-width: 600px;
    padding-left: 70px;
}

.party-joinig{
    margin-left: 80px;
    background: none;
    border: none;
    color: #EDDFF6;
    
}

/* Place style */

.pary-place{
    width: 1500px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px; 
    background-color:rgba(255, 0, 0, 0.10);
    margin-top: 100px;
    
}

.place-date-time{
    padding-top: 180px;
    text-align: center;
    font-size: 30px;
}
.color{
    color: red;
}

.BTN-LAST{
    border-radius: 5px;
    background: #F00;
    border: none;
    font-size: 30px ;
    padding: 15px;
}

/* offer part design */

.Comming-soon-2024{
    width: 1500px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px; 
    margin-top: 100px;
    display: flex;
    gap: 25px;
    
}

.best-offer{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin: 0;

}
 /* comming soong style */
.comming-title{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-top: 20px;
padding-top: ;
}

.comming-description{
    width: 400px;
    height: 130PX;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    }

.circle-image{
    padding: 10px;
}

.image-ellips{
    border: 25px solid red;
    padding: 35px;
    border-radius: 100%;
}
.year-2024{
color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-top: 0px;
}

.description-2024{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}


.new-year-image-last{
    margin-top: 20px;
    padding-top: 170px;
}

/* holiday secgion style */

.holiday{
    width: 1500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    display: block;
    padding: 20px;
}

.holiday-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.holiday-high{
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-color{
    color: #F00;
}

.holiday-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; 
    
}

.discount-50{ 
    width:1500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    display:inline;
    margin-left: 2200px;
}

/* .image-wow{
    width: 400px;
    height: 300px ;

}

.image-50-50{

}

.image-girl-wow{

}
*/

.red-div{
display: block;
margin-top: 0;
margin-left: 2400px;
}

/* awosme gift style */

.awsome-gift{
    width:1500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    display: block;
    text-align: left;
}

.gift{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.awsome{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.awsoem-text{
    margin-top: 2px;
    width: 1050px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
}

/* portfolio image style */

.portfolio-image{
    width:1500px;
    height: 600px;
    margin: 0 auto;
    margin-top:100px;
    display: flex;
    
}

/* subscribe section style */
.subscribe{
    width:1500px;
    height: 600px;
    margin: 0 auto; 
    background-color: rgb(236, 188, 188);
}

.mail-image{
    margin-top: 100px;
    padding-left: 700px;
}

.subscribe-head{
color: #070211;
padding-left: 500px;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.subscribe-head-description{
    width: 850px;
    height: 65px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-left: 300px;
}

.mail-form{
   width: 400px;
   height: 50px; 
   display: flex;
   padding-left: 600px;
   
}

.subscribe-btn{
    width: 110px;
    background-color: #F00;
    border-top-right-radius:15px;
    padding: 5px;
    font-size: 20px;
}

/* footer style */