body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

/* header banner style */
.container-header{
    
}

.container{
    width:1500px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px; 
}

.new-year-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:155px;
}

.new-year-title{
    color:#FFF;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.new-year-celebration{
    max-width: 500px;
    color: #EDDFF6;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    padding-top: 5px;
}

/* section{
    max-width: 700px;
    max-height: 400px;
    margin: 0px auto; 

} */

/* discount part style */
.discount-amount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 80px;
font-weight: 700;
margin: 0;
padding-bottom: 20px;
}

.discount-value{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.discount-catgry{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding-top: 10px;
}

/* greeting part style */
.newyear-greetings{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px ;
    background-image: url("../images/New-Year-Photo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 30px auto;
}

.newyear-party-heading{
    width: 1500px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px; 
}

.container-1{
    width: 1500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px; 
    padding-top: 100px;
}

.new-year-heading-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:155px;
}

/* .new-year-party-title{
color: #FFF;
font-family: Merriweather;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 88px; 
} */

.new-year-party{
    max-width: 500px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-top: 20px;
    padding-left: 70px;
}

.new-year-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    max-width: 600px;
    padding-left: 70px;
}

.party-joinig{
    margin-left: 80px;
    background: none;
    border: none;
    color: #EDDFF6;
    
}

/* Place style */

.pary-place{
    width: 1500px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px; 
    background-color:rgba(255, 0, 0, 0.10);
    margin-top: 100px;
    
}

.place-date-time{
    padding-top: 180px;
    text-align: center;
    font-size: 30px;
}
.color{
    color: red;
}

.BTN-LAST{
    border-radius: 5px;
    background: #F00;
    border: none;
    font-size: 30px ;
    padding: 15px;
}

/* offer part design */

.Comming-soon-2024{
    width: 1500px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px; 
    margin-top: 100px;
    display: flex;
    gap: 15px;
    
}

.best-offer{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.comming-title{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.comming-description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
}

.circle-image{
    display: flex;
    width:500px;
    height: 569px;
    margin: 0 auto;
    background-image: url('../images/Ellipse1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 15px solid red;
}
.year-2024{
color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}

.description-2024{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.comming-description{
width: 400px;
height: 130PX;
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}